.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* Spacing between product cards */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination span {
    font-size: 16px;
}
